@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0%; 
}

.container{
    display: flex;
    flex-direction: column;
    background-image: url(imagen/fondo.jpg);
}

header{
    height: 15vh;
    color:#ffd180; 
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}
h1{
    
    margin:12.16px 0px 0px 450px;
}
.logo{
  margin: 0px 50px 0px 0px;
    width: 100px;
    height: 100px;
    border-radius:150px;
}
.cont{
    display: flex;
    flex-direction: row;
}

.green-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width:80vw;

}

aside{
    width: 10vw;
    height: 75vh;
    display: flex;
    flex-direction: column;   
    align-items:center;
    border-right: 4px solid #caa052;
}

.lista{
list-style: none;
}

a{
    text-decoration: none;
    color:#000000;  
}

button{
    
    margin: 2.5em 1em 2.5em 0em;
    border:1px solid transparent;
    border-radius: 0.3em;
    font-family: 'Livvic', sans-serif;
    background-color: #ffd180;   
}

button:hover{
    background-color:#caa052;
}
article{
    display: none;
}
img{
    width: 15%;
    height: 15%;
    object-fit: cover;
    margin:0em 5em 0em 0em ;
   


}
h2{
font-size: 2.5em;
    color: #caa052;
font-family: 'Roboto Slab', serif;
text-align: center;
}
p{
    color:#ffffff;
    font-family: 'Roboto Slab', serif;
    text-align: left;
}

h3{
   margin:0%;
    color:#ffd180;
    font-family: 'Livvic', sans-serif;
    font-size: 1.3em;
}

footer{
display: flex;
flex-direction: column;
align-items: center;
height:10vh;
color:#ffd180; 
font-family: 'Roboto Slab', serif;
}